{% extends "design.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col d-flex justify-content-around" >
        <img style="width: 15rem; height: 20rem;" src="{{ x }}" alt="{{ file[0] }}">
    </div>
    <div class="col align-self-left">
        <div class="row">
        <h3>{{ file[0] }}</h3>
        </div>
        <div class="row">
            <p>год: {{ file[1] }}</p>
        </div>
        <div class="row">
            <p>страна: {{ file[2] }}</p>
        </div>
        <div class="row">
            <p>режиссер: {{ file[3] }}</p>
        </div>
        <div class="row">
            <p>{{ file[4] }}</p>
        </div>
        <div class="row">
            <p>{{ file[5] }}</p>
        </div>
        <div class="row">
            <p>кинотеатр: «{{ file[6] }}»</p>
        </div>
        <div class="row">
            <h4>сеансы</h4>
        </div>
        <div class="row">
            <p>дата: {{ file[7] }} время: {{ file[8] }}</p>
        </div>
        <div class="row">
            <h4>описание</h4>
            <p>{{ file[9] }}</p>
        </div>

    </div>
</div>
</div>

{% endblock %}