{% extends "base.html" %}
{% block search %}

{#<form class="form-inline" method="GET">#}
{#    <label for="start">Date:</label>#}
{#    <input class="form-control mr-sm-2" type="date" name="trip-start" value="{{ date }}" min="2020-01-01" max="2020-12-31">#}
{#    <button type="'submit">поиск</button>#}
{##}
{#</form>#}
<form class="form-inline" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.args.get('d', '') }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

{% endblock %}
{% block content %}
{% for post in posts %}
<div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ post.image }}" class="card-img" alt="{{ post.name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ url_for('film_info', film_name = post.name)}}">{{ post.name }}</a></h5>
        <p class="card-text">{{ post.rating }}</p>
        <p class="card-text">{{ post.year }} | {{ post.country }} | {{ post.genre }}</p>
        <p class="card-text">Режиссеры: {{ post.producer }}</p>
        </br>
        <hr>
        <p class="card-text">Кинотеатр: <small>{{ post.theaters }}</small></p>
        <p class="card-text">Сеансы: {{ post.time }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}